.reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: 200;
  color: #eeeeee;
  background-color: #333;
}

p.hi {
    color: #00b3e2;
    display: inline-block;
}

h3.st {
    background: #444;
    margin-top: 300px;
    padding: 20px;
}

h3.st.top {
    margin-top: -200px;
}