<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="Guilherme Rodrigues">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <style type="text/css">
        html {
            background: #111111;
            background-color: #111111;
        }
    </style>
    <link rel="stylesheet" href="../css/reveal.css">
    <link rel="stylesheet" href="../css/night.css" id="theme">
    <link rel="stylesheet" href="../css/main.css">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="../css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
        document.write('<link rel="stylesheet" href="../css/' + ( window.location.search.match(/print-pdf/gi) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">');
    </script>

    <!--[if lt IE 9]>
    <script src="../lib/html5shiv.js"></script>
    <![endif]-->

    <style type="text/css">
        section.tallcode {
            top: -350px !important;
        }
        .tallcode code {
            min-height: 550px;
        }

        .fatcode pre {
            left: -65px !important;
        }

        .fatcode code {
            word-wrap: normal;
            min-width: 990px;
        }
    </style>
</head>

<body>

<div class="reveal">

    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
        <section>
            <section data-markdown>
                <script type="text/template">
                    # Speedbag

                    ### Uma estrutura básica para desenvolvimento front end acelerado

                    <small>Por <a href="http://moongate.se">Guilherme Rodrigues</a></small>
                </script>
            </section>
            <section data-markdown>
                <script type="text/template">
                    # VTEX

                    - Augusto Barbosa
                    - Breno Calazans
                    - Felipe Parpinelli
                    - Gabriel Arrais
                    - Guilherme Rodrigues

                    <br>
                    estão resolvendo esses problemas.

                    Venha nos ajudar :)

                </script>
            </section>
        </section>

        <section data-markdown>
            <script type="text/template">
                ## Queremos eliminar:

                - Deploy manual
                - Client-side subordinado ao server-side
                    - No repositório (git)
                    - Na entrega (ao browser)
                - Pre-processamento manual
        	    - CoffeeScript, LESS, etc.
                - Dificuldade de trabalhar com API's remotas

                <br>
                ... tudo que não é automatizado!
            </script>
        </section>

        <section data-markdown>
            <script type="text/template">
                ##Vamos automatizar tudo

                Tudo que for possível, pelo menos. O que é quase tudo.
            </script>
        </section>

        <section>
            <section data-markdown>
                <script type="text/template">
                    ## Solução:
                    ##[Grunt](http://gruntjs.com/)
                    ###e
                    ##[Remote](https://github.com/gadr90/remote)
                </script>
            </section>
            <section data-markdown>
                <script type="text/template">
                    <blockquote>Grunt is a task-based command line build tool for JavaScript projects</blockquote>

                    <br>

                    - Através de plugins ("tasks") é possível automatizar basicamente qualquer processo de build.
                    - Já existem  mais de 400 tasks publicadas.
                    - É muito fácil escrever uma task própria.
                </script>
            </section>
            <section data-markdown>
                <script type="text/template">
                    <blockquote>
                        Remote is a CLI tool that enables you to work in local files while consuming an API from a remote server
                    </blockquote>

                    <br>

                    - Remote cria um servidor HTTP local e serve seus arquivos
                    - Você diz onde está a API que quer consumir&nbsp;
                    - ... e quais requests devem ser locais
                    - Remote redireciona os requests apropriadamente
                    - Um comando e um <a href="https://github.com/gadr90/remote/blob/master/example/remote.json">arquivo
                        de configuração</a> pequeno!&nbsp;
                    - Funciona com o Grunt!
                </script>
            </section>
        </section>

        <section data-markdown>
            <script type="text/template">
                ### Speedbag é

                - Uma (proposta) de estrutura do projeto
                - Um Gruntfile já configurado com as tarefas comuns
                - Fácil de instalar!

                        npm i -g grunt-cli // Se você nunca usou o Grunt
                        git clone git@github.com:vtex/speedbag.git
                        cd speedbag
                        npm i
                        grunt

            </script>
        </section>

        <section data-markdown class="tallcode">
        <script type="text/template">
Resultado

        Running "clean:0" (clean) task
        Cleaning "build"...OK

        Running "copy:main" (copy) task
        Created 9 directories, copied 14 files

        Running "coffee:main" (coffee) task
        File build/js/main.js created.
        File build/js/people.js created.

        Running "coffee:test" (coffee) task
        File build/spec/peopleSpec.js created.

        Running "less:main" (less) task
        File build//style/main.css created.

        Running "livereload-start" task
        ... Starting Livereload server on 35729 ...

        Running "connect:livereload" (connect) task
        Starting connect web server on localhost:9001.

        Running "regarde:dev" (regarde) task
        Watching src/**/*.html,src/**/*.coffee,src/**/*.js,src/**/*.less
        </script>
        </section>

        <section data-markdown class="tallcode fatcode">
            <script type="text/template">
Gruntfile.coffee

    path = require('path')
    exec = require('child_process').exec
    lrSnippet = require('grunt-contrib-livereload/lib/utils').livereloadSnippet
    folderMount = (connect, point) -> connect.static path.resolve(point)

    module.exports = (grunt) ->
        # Project configuration.
        grunt.initConfig
            resourceToken: process.env['RESOURCE_TOKEN'] or 'http://vtex.io'
            relativePath: ''
            pkg: grunt.file.readJSON('package.json')
            pacha: grunt.file.readJSON('tools/pachamama/pachamama.config')[0]
            clean: ['build', 'deploy']
            copy:
                main:
                    expand: true
                    cwd: 'src/'
                    src: ['**', '!includes/**', '!coffee/**', '!**/*.less']
                    dest: 'build/<%= relativePath %>'

                debug:
                    src: ['src/index.html']
                    dest: 'build/<%= relativePath %>/index.debug.html'

                deploy:
                    expand: true
                    cwd: 'build/<%= relativePath %>/'
                    src: ['**', '!includes/**', '!coffee/**', '!**/*.less']
                    dest: 'deploy/<%= meta.commit %>/'

                env:
                    expand: true
                    cwd: 'build/<%= relativePath %>'
                    src: ['index.html', 'index.debug.html']
                    dest: 'deploy/<%= meta.env %>/'

            coffee:
                main:
                    expand: true
                    cwd: 'src/coffee'
                    src: ['**/*.coffee']
                    dest: 'build/<%= relativePath %>/js/'
                    ext: '.js'

                test:
                    expand: true
                    cwd: 'spec/'
                    src: ['**/*.coffee']
                    dest: 'build/<%= relativePath %>/spec/'
                    ext: '.js'

            less:
                main:
                    files:
                        'build/<%= relativePath %>/style/main.css': 'src/style/main.less'

            useminPrepare:
                html: 'build/<%= relativePath %>/index.html'

            usemin:
                html: 'build/<%= relativePath %>/index.html'

            jasmine:
                test:
                    src: ['build/<%= relativePath %>/lib/zepto/zepto.js',
                        'build/<%= relativePath %>/js/**/*.js']
                    options:
                        specs: 'build/<%= relativePath %>/spec/*Spec.js'

            'string-replace':
                deploy:
                    files:
                        'deploy/<%= meta.env %>/index.html':
                            ['deploy/<%= meta.env %>/index.html']
                        'deploy/<%= meta.env %>/index.debug.html':
                            ['deploy/<%= meta.env %>/index.debug.html']

                    options:
                        replacements: [
                            pattern: /src="(\.\.\/)?(?!http|\/|\/\/)/ig
                            replacement: 'src="<%= resourceToken %>/<%= pacha.infrastructure.s3.bucket %>/<%= meta.commit %>/'
                        ,
                            pattern: /href="(\.\.\/)?(?!http|\/|\/\/)/ig
                            replacement: 'href="<%= resourceToken %>/<%= pacha.infrastructure.s3.bucket %>/<%= meta.commit %>/'
                        ]

            connect:
                livereload:
                    options:
                        port: 9001
                        middleware: (connect, options) ->
                            [lrSnippet, folderMount(connect, 'build/')]

            regarde:
                dev:
                    files: ['src/**/*.html', 'src/**/*.coffee',
                        'src/**/*.js', 'src/**/*.less']
                    tasks: ['dev', 'livereload']

                prod:
                    files: ['src/**/*.html', 'src/**/*.coffee',
                        'src/**/*.js', 'src/**/*.less']
                    tasks: ['prod', 'livereload']

                test:
                    files: ['src/**/*.html', 'src/**/*.coffee',
                        'src/**/*.js', 'src/**/*.less', 'spec/**/*.coffee']
                    tasks: ['test']
                    spawn: true

        # Looks for the commit hash in a GIT_COMMIT env var, or tries calling git.
        grunt.registerTask 'set-version', ->
            if process.env.GIT_COMMIT
                grunt.config 'meta.commit', new String(process.env.GIT_COMMIT)
                grunt.log.writeln 'Version set by environment variable GIT_COMMIT to: '
                    + grunt.config('meta.commit')
            else
                done = @async()
                exec 'git rev-parse --verify HEAD', (err, stdout, stderr) ->
                    if err
                        grunt.log.writeln 'Failed to set version by git.'
                        done()
                        return
                    grunt.config 'meta.commit', stdout.replace('\n', '')
                    grunt.log.writeln 'Version set by git commit to: '
                        + grunt.config('meta.commit')
                    done()

        grunt.loadNpmTasks 'grunt-contrib-connect'
        grunt.loadNpmTasks 'grunt-contrib-concat'
        grunt.loadNpmTasks 'grunt-contrib-livereload'
        grunt.loadNpmTasks 'grunt-contrib-copy'
        grunt.loadNpmTasks 'grunt-contrib-clean'
        grunt.loadNpmTasks 'grunt-contrib-coffee'
        grunt.loadNpmTasks 'grunt-contrib-less'
        grunt.loadNpmTasks 'grunt-contrib-uglify'
        grunt.loadNpmTasks 'grunt-contrib-cssmin'
        grunt.loadNpmTasks 'grunt-contrib-jasmine'
        grunt.loadNpmTasks 'grunt-regarde'
        grunt.loadNpmTasks 'grunt-usemin'
        grunt.loadNpmTasks 'grunt-string-replace'

        grunt.registerTask 'default', ['dev-watch']

        # Dev
        grunt.registerTask 'dev', ['clean', 'copy:main', 'coffee', 'less']
        grunt.registerTask 'dev-watch', ['dev', 'livereload-start',
                'connect', 'remote', 'regarde:dev']

        # Prod - minifies files
        grunt.registerTask 'prod', ['dev', 'copy:debug', 'useminPrepare',
                'concat', 'uglify', 'cssmin', 'usemin']
        grunt.registerTask 'prod-watch', ['prod', 'livereload-start',
                'connect', 'remote', 'regarde:prod']

        # Test
        grunt.registerTask 'test', ['dev', 'jasmine']
        grunt.registerTask 'test-watch', ['test', 'regarde:test']

        # Generates version folder
        grunt.registerTask 'gen-version', ->
            env = this.args[0] or 'dev'
            console.log 'Deploying to environment:', env
            console.log 'VTEX IO Directory:', grunt.config('pacha').infrastructure.s3.bucket
            grunt.config 'meta.env', env
            grunt.task.run ['set-version', 'copy:env', 'string-replace:deploy']

        # Deploy - creates deploy folder structure
        grunt.registerTask 'deploy', ->
            env = this.args[0] or 'dev'
            grunt.task.run ['prod', 'jasmine', 'gen-version:' + env, 'copy:deploy']

        # Example usage of deploy task
        grunt.registerTask 'deploy-example', ['deploy:master']

        # Remote task
        grunt.registerTask 'remote', 'Run Remote proxy server', ->
            require 'coffee-script'
            require('remote')()
            </script>
        </section>

        <section data-markdown class="tallcode fatcode">
            <script type="text/template">
remote.json

    {
        "remote": {
            "host": "23.23.199.68",
            "port": 80
        },
        "proxy": {
            "host": "walmartv5.vtexcommercebeta.com.br",
            "port": 80
        },
        "server": {
            "host": "localhost",
            "port": 9001
        },
        "headers": {
            "X-Track": "mkp1"
        },
        "bounces": [
            ".*checkout-custom.css",
            "/checkout/js/.*",
            "/checkout/css/.*",
            "(?!.*add)/checkout/cart/.*",
            "/checkout/templates/.*"
        ],
        "mapping": false,
        "mappings": {
            "/arquivos/checkout-.*": "../UserExperience/custom-stores/build/",
            "/arquivos/login-custom.css": "../UserExperience/custom-stores/login.css"
        }
    }
            </script>
        </section>

        <section data-markdown class="tallcode fatcode">
            <script type="text/template">
Testando o deploy

        $ grunt deploy:stable

        Running "deploy:beta" (deploy) task

        Running "clean:0" (clean) task
        Cleaning "build"...OK

        Running "clean:1" (clean) task
        Cleaning "deploy"...OK

        Running "copy:main" (copy) task
        Created 9 directories, copied 14 files

        Running "coffee:main" (coffee) task
        File build/js/main.js created.
        File build/js/people.js created.

        Running "coffee:test" (coffee) task
        File build/spec/peopleSpec.js created.

        Running "less:main" (less) task
        File build//style/main.css created.

        Running "copy:debug" (copy) task
        Copied 1 files

        Running "useminPrepare:html" (useminPrepare) task
        Going through build/index.html to update the config
        Looking for build script HTML comment blocks

        Found a block:
        <!-- build:css style/style.css -->
        (...)
        <!-- endbuild -->
        Updating config with the following assets:
            - build/lib/bootstrap/css/bootstrap.css
            - build/lib/bootstrap/css/bootstrap-responsive.css
            - build/style/main.css

        Found a block:
        <!-- build:js js/lib.js -->
        (...)
        <!-- endbuild -->
        Updating config with the following assets:
            - build/lib/zepto/zepto.js
            - build/lib/zepto/zepto-jquery.js
            - build/lib/bootstrap/js/bootstrap.js
            - build/lib/lodash/lodash.js

        Found a block:
        <!-- build:js js/app.js -->
        (...)
        <!-- endbuild -->
        Updating config with the following assets:
            - build/js/main.js

        Configuration is now:

          cssmin:
          { 'build/style/style.css': 'build/style/style.css' }

          concat:
          { 'build/style/style.css':
           [ 'build/lib/bootstrap/css/bootstrap.css',
             'build/lib/bootstrap/css/bootstrap-responsive.css',
             'build/style/main.css' ],
          'build/js/lib.js':
           [ 'build/lib/zepto/zepto.js',
             'build/lib/zepto/zepto-jquery.js',
             'build/lib/bootstrap/js/bootstrap.js',
             'build/lib/lodash/lodash.js' ],
          'build/js/app.js': [ 'build/js/main.js' ] }

          uglify:
          { 'build/js/lib.js': 'build/js/lib.js',
          'build/js/app.js': 'build/js/app.js' }

          requirejs:
          {}

        Running "concat:build/style/style.css" (concat) task
        File "build/style/style.css" created.

        Running "concat:build/js/lib.js" (concat) task
        File "build/js/lib.js" created.

        Running "concat:build/js/app.js" (concat) task
        File "build/js/app.js" created.

        Running "uglify:build/js/lib.js" (uglify) task
        File "build/js/lib.js" created.

        Running "uglify:build/js/app.js" (uglify) task
        File "build/js/app.js" created.

        Running "cssmin:build/style/style.css" (cssmin) task
        File build/style/style.css created.

        Running "usemin:html" (usemin) task

        Processing as HTML - build/index.html
        Update the HTML to reference our concat/min/revved script files
        Update the HTML with the new css filenames
        Update the HTML with the new img filenames
        Update the HTML with data-main tags
        Update the HTML with the data tags
        Update the HTML with background imgs, case there is some inline style
        Update the HTML with anchors images
        Update the HTML with reference in input

        Running "jasmine:test" (jasmine) task
        Testing jasmine specs via phantom
        ....
        4 specs in 0.005s.
        >> 0 failures

        Running "gen-version:beta" (gen-version) task
        Deploying to environment: beta
        VTEX IO Directory: admin/speedbag

        Running "set-version" task
        Version set by git commit to: dc1e38695ccd4bca6c033dd3d0bec20c4a638be5

        Running "copy:env" (copy) task
        Copied 2 files

        Running "string-replace:deploy" (string-replace) task

        Running "copy:deploy" (copy) task
        Created 11 directories, copied 22 files

        Done, without errors.
            </script>
        </section>

        <section data-markdown class="tallcode fatcode">
            <script type="text/template">
Estrutura gerada

        $ tree deploy
        deploy/
        ├── beta
        │   ├── index.debug.html
        │   └── index.html
        └── dc1e38695ccd4bca6c033dd3d0bec20c4a638be5
            ├── index.debug.html
            ├── index.html
            ├── js
            │   ├── app.js
            │   ├── lib.js
            │   ├── main.js
            │   └── people.js
            ├── lib
            │   ├── bootstrap
            │   │   ├── css
            │   │   │   ├── bootstrap.css
            │   │   │   ├── bootstrap.min.css
            │   │   │   ├── bootstrap-responsive.css
            │   │   │   └── bootstrap-responsive.min.css
            │   │   ├── img
            │   │   │   ├── glyphicons-halflings.png
            │   │   │   └── glyphicons-halflings-white.png
            │   │   └── js
            │   │       ├── bootstrap.js
            │   │       └── bootstrap.min.js
            │   ├── lodash
            │   │   ├── lodash.js
            │   │   └── lodash.min.js
            │   └── zepto
            │       ├── zepto-jquery.js
            │       ├── zepto.js
            │       └── zepto.min.js
            ├── spec
            │   └── peopleSpec.js
            └── style
            ├── main.css
            └── style.css
            </script>
        </section>

        <section data-markdown>
            <script type="text/template">
                ### Continuous Delivery com
                ## [Pachamama](https://github.com/vtex/pachamama)
            </script>
        </section>

        <section data-markdown class="tallcode fatcode">
            <script type="text/template">
./tools/pachamama/pachamama.config

    [
        {
            "product": "speedbag", // Personalize
            "acronym": "spdbg", // Personalize
            "layer": "frontend", // Importante! Diz que esse é um app front end
            "application": "speedbag", // Personalize
            "roots": [],
            "integration":
            {
                "javascript": {
                    "npm": ["install", "update"],
                    "grunt": "deploy"
                }
            },
             "infrastructure": {
                 "s3": {
                     "bucket": "admin/speedbag" // Importante! Caminho onde vai ser servido
                 }
             }
        }
    ]

    // Arquivos servidos em https://vtex.io/admin/speedbag/
            </script>
        </section>

        <section data-markdown>
            <script type="text/template">
                ## VTEX IO

                (ou: a razão de tudo isso)

                ### http(s)://vtex.io/
            </script>
        </section>

        <section data-markdown>
            <script type="text/template">
                ### Diretório pai
                http://vtex.io/checkout-ui/

                ### Diretórios stable/beta/dev
                /**stable**/index.html

                Aponta para arquivos no...

                ### Diretório de commit
                /**dc1e38695ccd4bca6c033dd3d0bec20c4a638be5**/
            </script>
        </section>

        <section data-markdown>
            <script type="text/template">
                ### Index diferentes apontam para commits diferentes!

                Ou seja, voltar versão == reverter um index.html.

                Ou seja, deploy sem downtime!

                Futuro: testes AB?
            </script>
        </section>

        <section data-markdown>
            <script type="text/template">
                Ok, ok, mas...
                ### Como fazer o deploy?

                Muito difícil...

                    git checkout -b beta/1.0.0
                    git push origin beta/1.0.0
                    echo Vá pegar um café enquanto o Pachamama trabalha.

                Pronto.
            </script>
        </section>

        <section data-markdown>
            <script type="text/template">
                ### Dúvidas?
            </script>
        </section>

        <section data-markdown>
            <script type="text/template">
                ## Obrigado!

                <small>(eu vou perseguir cada um de vocês até termos todos os apps nesse formato!)</small>
            </script>
        </section>

    </div>

</div>

<script src="../lib/head.min.js"></script>
<script src="../lib/reveal.min.js"></script>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
            { src: '../lib/classList.js', condition: function () {
                return !document.body.classList;
            } },
            { src: '../lib/showdown.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            } },
            { src: '../lib/markdown.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            } },
            { src: '../lib/highlight.js', async: true, callback: function () {
                hljs.initHighlightingOnLoad();
            } }
        ]
    });

</script>

<script src="http://localhost:35729/livereload.js"></script>

</body>
</html>
