@keyframes pulse-2 {
  0%, 100% {
    background-color: #FF0000;
  }
  33% {
    background-color: #00FF00;
  }
  66% {
    background-color: #0000FF;
  }
}

.pulse-example-2 {
  animation: pulse-2 10s infinite;
}
