// Colors
@red: #f7645e;
@blue: #36b7d7;
@light-blue: #d5f0f7;
@green: #3aa850;
@light-green: #4bd268;
@black: #525252;
@dark-grey: #888;
@grey: #ddd;
@light-grey: #f5f5f5;

// Background

body {
  background: white;
}

.proxima {
  font-family: proxima-nova, sans-serif;  
  color: @black !important;
}

.reveal{
  h1, h2, h3, h4, p, span {
    .proxima;
  }
  h1, h2, h3, h4{
    font-weight: bold;
  }
  h1 {
    font-size: 3.6em;
  }
}


.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
