body {
  background: white;
}
.proxima {
  font-family: "proxima-nova", sans-serif;
  color: #525252 !important;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal p,
.reveal span,
.reveal li,
.reveal blockquote {
  word-wrap: normal;
  font-family: "proxima-nova", sans-serif;
  color: #525252 !important;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
  font-weight: bold;
}
.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: solid #36b7d7 7px !important;
}
.author {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: solid #36b7d7 7px !important;
  background: url('../img/gadr.jpeg') no-repeat;
  background-size: 320px;
  margin: 0 auto !important;
}
.lincoln {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: solid #36b7d7 7px !important;
  width: 150px;
  height: 150px;
  background: url('../../vtex-day-2014/lincoln.jpg') no-repeat;
  background-size: 200px;
  background-position: -20px 0px;
  margin: 0 auto !important;
  border: solid #888888 3px !important;
}
.author-name {
  text-transform: none !important;
}
.reveal .blue {
  background: #36b7d7 !important;
}
.reveal .blue h1,
.reveal .blue h2,
.reveal .blue h3,
.reveal .blue h4,
.reveal .blue p,
.reveal .blue span,
.reveal .blue li {
  color: #f5f5f5 !important;
}
.reveal .large {
  font-size: 1.5em !important;
  line-height: 1.3em;
  padding: 20px;
}
.reveal blockquote {
  width: 80%;
}
