body {
  background: white;
}
.proxima {
  font-family: "proxima-nova", sans-serif;
  color: #525252 !important;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal p,
.reveal span,
.reveal li,
.reveal blockquote {
  word-wrap: normal;
  font-family: "proxima-nova", sans-serif;
  color: #525252 !important;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
  font-weight: bold;
  text-shadow: none !important;
}
.reveal h1 {
  font-size: 3.7em;
}
.reveal h2 {
  font-size: 2.4em;
  text-transform: none;
}
.reveal h3 {
  font-size: 2.0em;
  text-transform: none;
}
.reveal p,
.reveal span,
.reveal li {
  font-size: 1.6em;
  line-height: 1.0em;
}
.reveal li {
  padding-bottom: 15px;
}
.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: solid #36b7d7 7px !important;
}
