@import "vtexlab";

@author: '../img/gadr.jpeg';
@lincoln: '../../vtex-day-2014/lincoln.jpg';

.author {
  .circular;
  background: url(@author) no-repeat; 
  background-size: 320px;
  margin: 0 auto !important;
}

.lincoln {
  .circular;
  width: 150px;
  height: 150px;
  background: url(@lincoln) no-repeat; 
  background-size: 200px;
  background-position: -20px 0px;
  margin: 0 auto !important;
  border: solid @dark-grey 3px !important;
}

.author-name {
  text-transform: none !important;
}

.reveal {

  .blue {
    background: @blue !important;
    
    h1, h2, h3, h4, p, span, li {
      color: @light-grey !important;
    }
  }
  
  .large {
    font-size: 1.5em !important;
    line-height: 1.3em;
    padding: 20px;
  }
  
  blockquote {
    width: 80%;
  }
  
  .trademark {
    padding-left: 7px;
    line-height: 0px;
    font-size: 130%;
    top: 30px;
    position: absolute;
  }

  .lr {
    color: hsl(0, 100%, 50%) !important;
    -webkit-animation: hue 5s infinite alternate !important;
  }

  @-webkit-keyframes hue {
    /*hue will animate from 0 to 360. Saturation and Lightness remain constant*/
    20% {color: hsl(72, 100%, 50%);}
    40% {color: hsl(144, 100%, 50%);}
    60% {color: hsl(216, 100%, 50%);}
    80% {color: hsl(288, 100%, 50%);}
    100% {color: hsl(360, 100%, 50%);}
  }
  
  // Overwrite beige.css
  a:not(.image):hover {
    color: #e4ac00;
    text-shadow: none;
    border: none;
  }
  
  a:not(.image) {
    color: #e48632;
    text-decoration: none;
    -webkit-transition: color .15s ease;
    -moz-transition: color .15s ease;
    -ms-transition: color .15s ease;
    -o-transition: color .15s ease;
    transition: color .15s ease;
  }

  .controls div.navigate-left,
  .controls div.navigate-left.enabled {
    border-right-color: #e48632; }

  .controls div.navigate-right,
  .controls div.navigate-right.enabled {
    border-left-color: #e48632; }

  .controls div.navigate-up,
  .controls div.navigate-up.enabled {
    border-bottom-color: #e48632; }

  .controls div.navigate-down,
  .controls div.navigate-down.enabled {
    border-top-color: #e48632; }

  .controls div.navigate-left.enabled:hover {
    border-right-color: #e4ac00; }

  .controls div.navigate-right.enabled:hover {
    border-left-color: #e4ac00; }

  .controls div.navigate-up.enabled:hover {
    border-bottom-color: #e4ac00; }

  .controls div.navigate-down.enabled:hover {
    border-top-color: #e4ac00; }
}
