body {
  background: white;
}
.proxima {
  font-family: proxima-nova, sans-serif;
  color: #525252 !important;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal p,
.reveal span {
  word-wrap: normal;
  font-family: proxima-nova, sans-serif;
  color: #525252 !important;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
  font-weight: bold;
}
.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
