// Colors
@red: #f7645e;
@blue: #36b7d7;
@light-blue: #d5f0f7;
@green: #3aa850;
@light-green: #4bd268;
@black: #525252;
@dark-grey: #888;
@grey: #ddd;
@light-grey: #f5f5f5;

// Background

body {
  background: white;
}

.proxima {
  font-family: "proxima-nova", sans-serif;  
  color: @black !important;
}

.reveal{
  h1, h2, h3, h4, p, span, li, blockquote {
    word-wrap: normal;
    .proxima;
  }
  h1, h2, h3, h4{
    font-weight: bold;
    text-shadow: none !important;
  }
  h1 {
    font-size: 3.7em;
  }
  h2 {
    font-size: 2.4em;
    text-transform: none;
  }
  h3 {
    font-size: 2.0em;
    text-transform: none;
  }
  p, span , li {
    font-size: 1.6em;
    line-height: 1.0em;
  }
  li {
    padding-bottom: 15px;
  }
}


.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: solid @blue 7px !important;
}
