body {
  background: white;
}
.proxima {
  font-family: "proxima-nova", sans-serif;
  color: #525252 !important;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal p,
.reveal span,
.reveal li,
.reveal blockquote {
  word-wrap: normal;
  font-family: "proxima-nova", sans-serif;
  color: #525252 !important;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
  font-weight: bold;
}
.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: solid #36b7d7 7px !important;
}
.author {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: solid #36b7d7 7px !important;
  background: url('../img/gadr.jpeg') no-repeat;
  background-size: 320px;
  margin: 0 auto !important;
}
.lincoln {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: solid #36b7d7 7px !important;
  width: 150px;
  height: 150px;
  background: url('../../vtex-day-2014/lincoln.jpg') no-repeat;
  background-size: 200px;
  background-position: -20px 0px;
  margin: 0 auto !important;
  border: solid #888888 3px !important;
}
.author-name {
  text-transform: none !important;
}
.reveal .blue {
  background: #36b7d7 !important;
}
.reveal .blue h1,
.reveal .blue h2,
.reveal .blue h3,
.reveal .blue h4,
.reveal .blue p,
.reveal .blue span,
.reveal .blue li {
  color: #f5f5f5 !important;
}
.reveal .large {
  font-size: 1.5em !important;
  line-height: 1.3em;
  padding: 20px;
}
.reveal blockquote {
  width: 80%;
}
.reveal .trademark {
  padding-left: 7px;
  line-height: 0px;
  font-size: 130%;
  top: 30px;
  position: absolute;
}
.reveal .lr {
  color: #ff0000 !important;
  -webkit-animation: hue 5s infinite alternate !important;
}
@-webkit-keyframes hue {
  /*hue will animate from 0 to 360. Saturation and Lightness remain constant*/
  20% {
    color: #ccff00;
  }
  40% {
    color: #00ff66;
  }
  60% {
    color: #0066ff;
  }
  80% {
    color: #cc00ff;
  }
  100% {
    color: #ff0000;
  }
}
.reveal a:not(.image):hover {
  color: #e4ac00;
  text-shadow: none;
  border: none;
}
.reveal a:not(.image) {
  color: #e48632;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #e48632;
}
.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #e48632;
}
.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #e48632;
}
.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #e48632;
}
.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #e4ac00;
}
.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #e4ac00;
}
.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #e4ac00;
}
.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #e4ac00;
}
