@import "vtexlab";

@author: '../img/gadr.jpeg';
@lincoln: '../../vtex-day-2014/lincoln.jpg';

.author {
  .circular;
  background: url(@author) no-repeat; 
  background-size: 320px;
  margin: 0 auto !important;
}

.lincoln {
  .circular;
  width: 150px;
  height: 150px;
  background: url(@lincoln) no-repeat; 
  background-size: 200px;
  background-position: -20px 0px;
  margin: 0 auto !important;
  border: solid @dark-grey 3px !important;
}

.author-name {
  text-transform: none !important;
}

.reveal {

  .blue {
    background: @blue !important;
    
    h1, h2, h3, h4, p, span, li {
      color: @light-grey !important;
    }
  }
  
  .large {
    font-size: 1.5em !important;
    line-height: 1.3em;
    padding: 20px;
  }
  
  blockquote {
    width: 80%;
  }
  
}
